
@import url('./fonts.css');

/* General Styling */

*
{ 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
}

html 
{ 
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body
{
    max-width: 100vw;
    overflow-x: hidden;
    background-color: #eef3f9;
}

html.no-scroll , html.no-scroll body { overflow: hidden; }

a { text-decoration: none; color: #444444;}

.btn
{
    display: inline-block;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
    border-radius: 25px;
    font-family: 'BalsamiqSans-regular';
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0px 12px 12px -12px black;
}

.btn::after
{
    content: "";
    height: 100%; width: 100%;
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
    background-color: rgb(0, 0, 0,0.5);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in;

}

.btn:hover::after
{
    transform: scaleX(1);
    transform-origin: left;
}

.btn:focus { outline: none; }

/* Navbar */

nav
{
    position: relative;
    z-index: 2;
}

nav .container  
{
    height: 100px;
    display: flex;
    align-items: center;
}

.company-logo
{
    height: 50px; width: 130px;
    display: inline-block;
    position: relative;
    color: #3b556e;
}

.company-logo>span:nth-child(1)
{
    font-family: 'kaushan';
    font-size: 35px;
}

.company-logo>span:nth-child(1) i
{
    font-style: normal;
    color: #766ba7;
}

.company-logo>span:nth-child(2),
.company-logo>span:nth-child(3)
{
    font-family: 'kaushan';
    font-size: 15px;
    position: absolute;
    left: 85px;
}

.company-logo>span:nth-child(2)
{ top: 5px; }

.company-logo>span:nth-child(3)
{ left: 95px; bottom: 5px; }

.menu-links
{
    display: flex;
    list-style-type: none;
    margin-left: auto;
}

.menu-links li { margin: 0 15px; }

.menu-links li a
{
    font-family: 'BalsamiqSans-regular';
    font-size: 18px;
    color: #64707c;
    position: relative;
    z-index: 2;
}

.menu-links li a::after
{
    content: "";
    position: absolute;
    left: 0; bottom: -2px;
    border-radius: 25px;
    height: 2px; width: 100%;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s ease-in;
}

.menu-links li a:hover { color: #ca366f; }

.menu-links li a:hover::after 
{ 
    transform: scaleX(1);
    transform-origin: left;
}

.hamburger { display: none; }

/* Banner */

#banner { padding: 50px 0; }

#banner .container
{
    display: flex;
    flex-wrap: wrap;
}

.circle.one
{
    height: 900px; width: 900px;
    background-color: #d2dbe4;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
}

#banner-text, #banner-img { flex-basis: 50%; margin: 0 auto; }

#banner-text
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#banner-text h1
{
    color: #32506a;
    font-family: 'Ubuntu-italic';
    font-size: 64px;
}

#banner-text h1 span { color: #766ba7; }

#banner-text h2
{ 
    color: #32506a;
    font-family: 'Ubuntu-italic';
    font-size: 32px;
    margin: 25px 0 40px;
    line-height: 1.5;
}

#banner-text a 
{ 
    height: 50px; width: 175px;
    background-color: #766ba7;
    color: white;
}

#banner-img{ position: relative; }

#banner-img img
{
    display: block;
    margin: 0 auto;
    filter: drop-shadow( 0px 3px 9px black );
}

/* Products */

.arc.two
{
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
    height: 500px; width: 500px;
    background-color: #1f2d36;
    border-bottom-right-radius: 85%;
}

#products
{
    padding: 50px 0;
    background-color:#1c262f;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

#products .container
{
    display: flex;
    flex-wrap: wrap;
}

#products-left , #products-right { flex-basis: 50%; margin: 50px auto; }

#products-left h1
{
    color: #f7faff;
    font-family: 'kaushan';
    font-size: 50px;
    color: rgb(240, 255, 255);
} 

#products-left p
{
    color: #bac4cd;
    font-family: 'Montserrat';
    line-height: 2;
    font-size: 20px;
    width: 75%;
    text-align: justify;
    margin: 35px 0 50px;
}

.dark-btn
{
    height: 50px; width: 175px;
    border: 2px solid #bac4cd;
    color: #bac4cd;
    background-color: transparent;
}

.dark-btn::after
{
    border: 2px solid #f08a5d;
    background-color: #f08a5d;
}

.dark-btn:hover
{
    border: none;
    color: white; 
}

#products-right
{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    position: relative;
}

#products-right>img
{
    position: absolute;
    opacity: 0.15;
    z-index: -1;
    height: 500px;
    right: 0; bottom: -75px;
}

#products-right span
{
    color: rgb(240, 255, 255);
    width: 33%;
    height: 100px;
    font-size: 18px;
    font-family: 'Bungee';
    text-align: center;
    display: flex;
    align-items: center; justify-content: center;
    cursor: context-menu;
}

#products-right span:nth-child(odd) { color: #f08a5d; }

/* Gallery */

#gallery
{
    padding: 50px 0;
    position: relative;
    overflow: hidden;
}

.circle.two
{
    height: 700px; width: 700px;
    background-color: #d2dbe4;
    border-bottom-left-radius: 100%;
    position: absolute;
    top: 0; right: 0;
    z-index: -1;
}

#gallery h1
{
    color: #32506a;
    font-family: 'kaushan';
    font-size: 50px;
} 

#gallery>.container>h1>span { color: #766ba7; }

.gallery-box 
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 25px;
}

.gallery-box>div
{
    flex-basis: 24%;
    margin: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #1c262f;
    padding: 50px 0 25px;
    border-radius: 6px;
    box-shadow: 0px 3px 6px black;
}

.gallery-box>div:hover { transform: scale3d(1.1,1.1,1.1); }

.gallery-box>div>img
{
    height: 350px;
    filter: drop-shadow( 0px 3px 3px black );
    opacity: 0.8;
}

.gallery-box>div:hover>img { opacity: 1; }

#gallery button { display: none; }

/* About Us */

#about
{
    margin: 25px 0 100px;
    padding: 75px 0;
    background-color:#1c262f;
    position: relative;
    z-index: 2;
}

.about-arc
{
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
    height: 500px; width: 500px;
    background-color: #1f2d36;
    border-bottom-right-radius: 85%;
}

#about .container
{
    display: flex;
    flex-wrap: wrap;
}

#about .container>div { flex-basis: 50%; }

.chisel
{
    filter: grayscale(100%);
    opacity: 0.6;
    display: block;
    margin: auto;
}

.about-right h1
{
    color: #32506a;
    font-family: 'kaushan';
    font-size: 50px;
    color: #f7faff;
}

.about-right h3
{
    color: #bac4cd;
    font-family: 'BalsamiqSans-regular';
    text-transform: uppercase;
    font-size: 27px;
    margin-top: 25px;
}

.about-right p
{
    color: #bac4cd;
    font-family: 'Montserrat';
    line-height: 2;
    font-size: 20px;
    text-align: justify;
    margin-top: 12px;
}

.about-right a { margin-top: 25px; }

/* Insta */

#insta { position: relative; }

.insta-circle
{
    height: 530px;
    width: 600px;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    top: 0; left: 0;
    position: absolute;
    z-index: -1;
    background-color: #d2dbe4;
}

#insta .container
{
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
}

.insta-text { flex-basis: 40%; display: flex; align-items: center; }

.insta-embed { flex-basis: 20%; }

.insta-text h1 , .locate-text h1
{
    color: #32506a;
    font-family: 'kaushan';
    width: 100%;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.insta-text h1 img
{
    display: inline-block;
    height: 50px;
    margin-left: 18px;
    position: relative;
    top: 6px;
    filter: drop-shadow(0px 2px 2px black);
}

.insta-bg
{
    position: absolute;
    height: 100px;
    top: 50%; right: 0; 
    transform: translateY(-50%);
    z-index: -1;
    opacity: 0.2;
    filter: grayscale(100%) drop-shadow(0px 3px 3px black);
}

/* Locate Us */

#locate 
{ 
    position: relative;
    margin: 100px 0;
    padding-top: 50px;
}

.locate-circle
{
    height: 500px;
    width: 600px;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    top: 50px; right: 0;
    position: absolute;
    z-index: -1;
    background-color: #d2dbe4;
}

.maps-bg
{
    position: absolute;
    z-index: -1;
    height: 100px;
    top: -75px; left: 0; 
    opacity: 0.2;
    filter: grayscale(100%);
}

#locate .container
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}

.locate-text { flex-basis: 40%; display: flex; align-items: center; }

.locate-map { flex-basis: 40%; }

.locate-text h1 img
{
    display: inline-block;
    height: 50px;
    margin-left: 18px;
    position: relative;
    top: 3px;
}

.gmap_canvas iframe { height: 500px; width: 600px; }

.mapouter
{
    position: relative;
    text-align:right;
    height: 500px; width:600px;
}

.gmap_canvas 
{
    overflow:hidden;
    background:none!important;
    height:500px; width:600px;
}

/* Footer */

footer
{
    background-color: #1c262f;
    padding: 50px 0 35px;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

footer .container { display: flex; }  

footer .container>div:nth-child(2)
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .company-logo { color: #f0f0f0; }

footer .company-logo span:nth-child(1) i { color: #f08a5d; }

.social-links 
{
    display: flex;
    justify-content: space-between;
}

.social-links img
{
    height: 25px;
    opacity: 0.8;
    filter: drop-shadow( 3px 3px 3px black );
    transition: transfrom 0.3s ease;
}

.social-links img:hover { transform: scale3d(1.2,1.2,1.2); opacity: 1; }

/* Footer Links */

footer .container>div:nth-child(3) { margin-left: 75px; }

.footer-links { list-style-type: none; }

.footer-links li { margin: 12px 0; }

.footer-links li:nth-child(1) { margin-top: 0; }

.footer-links li:nth-child(4) { margin-bottom: 0; }

.footer-links li a
{
    font-family: 'BalsamiqSans-regular';
    font-size: 15px;
    color: #fbfbfd;
    text-transform: uppercase;
}

.footer-links li a:hover { color: #f08a5d; }

footer .container>div:nth-child(4)
{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.dev , .copy
{
    font-family: 'Montserrat';
    font-size: 15px;
}

.dev { margin-bottom: 18px; color: #fbfbfd; }

.dev a { color: #f08a5d; }

.dev a:hover { text-decoration: underline; }

.copy { color: #64707c; }

.footer-arc
{
    position: absolute;
    bottom: 0; right: 0;
    z-index: -1;
    height: 200px; width: 500px;
    background-color: #1f2d36;
    border-top-left-radius: 100%;
}
